.resume-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh ;
    
}

.resume-box h1{
    margin-bottom: 10px;
}

.btn-grp,.objective{
    margin: 10px 5px;
    display: flex;
    min-height: 80px;
    width: clamp(300px,5vw,500px);
    box-shadow: 0px 0px 10px rgba(224,231,255,0.3);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #1a2238;
}


.objective{
    width: 75%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: .9rem;
}

.objective h3{
    margin-bottom: 10px;
    font-size: 1.3rem;
}

#download-btn, #preview-btn{
    padding: 10px;
    border: 2px solid darkgray;
    border-radius: 10px;
    background-color: #3b5cff;
    font-size: medium;
    font-weight: 600;
    transition: all 0.3s ease;
    color: #fff;
}

#download-btn:hover, #preview-btn:hover{
    background-color: #253a76;
    color: #fff;
}

.btn-grp{
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    box-shadow: none;
}

#download-btn, #preview-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.download a{
    text-decoration: none;
}