#skils{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.skil-content, .tools{
    display: flex;
    flex-wrap: wrap;
}

.skil-box{
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skils h4{
    margin-top: 10px;
}

.skil-box img{
    position: relative;
    width: 70%;
    height: 70%;
    margin: 5px;
}
